<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display details</title>
</head>
<body>
    <em>Hello {{name}}!! Thanks for registering in these program</em>
    <p>I am sure you will not regret this decision</p>
    <p>Since your current address is <b>{{c_address}}</b> we will find the nearest center for you 
    and your mobile number <i>{{phone}}</i> will soon we added to our active <b>{{gender}}</b> group <br> 
    <b>*IF YOU ALLOW</b>
    </p>
    <button type="submit" value="True">Allow</button> <button type="submit" value="False">Deny</button>
    

</body>
</html>